*{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 9, 9);
    color: aliceblue;
    font-family: 'Righteous', sans-serif;
}

span{
    color: red;
}

body{
    height: 100vh;    
}

.hero{
    flex-basis: 35vw;
    background-color: black;
    background-image: url(assets/splash.jpg);
    background-position: 48% 0px;
    margin: 0 30px 0 0;

}
.logo,.logo>span{
    background-color: transparent;
    text-align: center;
}


.sign-up{
    flex-basis: 65vw;
    overflow: scroll;
}
button{
    margin-top: 20px;
    align-self: center;
    width: 200px;
    height: 50px;
}

input{
    width: max(11vw, 22vw)
}
#form-inputs{
    gap: 100px;
}

form{
    margin-top: 20vh;
}